/********** ADD BUTTONS **********/


.add-buttons div.input-name {
	display: none;
}


/********** BLOCKS **********/


.blocks {
	padding: 10px;
	border: 1px solid #000000;
}

.blocks .block {
	border-width: 2px;
}

.blocks .block.masterVideo {
	border: none;
}


/********** TIMELINE **********/


.timeline {
	margin: 100px 0;
}

.timeline .timeline-pin {
	position: absolute;
	font-size: 15px;
	z-index: 1;
	margin-left: -8px;
	cursor: pointer;
	cursor: hand;
}

.timeline .timeline-pin.start {
	top: -20px;
}

.timeline .timeline-pin.start.highlight {
	top: -35px;
	font-size: 30px;
	margin-left: -15px;
}

.timeline .timeline-pin.end {
	top: 15px;
}

.timeline .timeline-pin.end.highlight {
	top: 10px;
	font-size: 30px;
	margin-left: -15px;
}


/********** BLOCKS ROWS **********/


.block-row {
	height: 80px;
	border: 2px solid;
	margin-bottom: 20px;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.block-row .thumbnail {
	height: 80px;
	width: 80px;
	/*float: left;*/
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	cursor: hand;
	border-right: 1px solid #000000;
	overflow: hidden;
	font-size: 12px;
	background-color: #000000;
}

.block-row .thumbnail.highlight {
	border: 1px solid #ffff00;
}

.block-row .thumbnail img {
	width: 80px;
	height: 80px;
}

.block-row .thumbnail .text {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-size: 10px;
	white-space: normal;
	padding: 5px 0 0 5px;
}


/********** CHAPTERS **********/


.chapters {
	margin: 40px 0 40px 0;
}

.chapters .chapter {
	margin: 0 10px 0 0;
}

.chapters .highlight-timestamp-icon .highlight-timestamp {
	color: #ffff00;
}


/********** CONTEXT MENU **********/


.context-menu-item {
	color: #000000;
	margin: 0;
	padding: 5px;
}


/********** CONTEXT MENU **********/


.save-lesson {
	margin-bottom: 20px;
}