.blocks {
	position: relative;
	margin: 50px 0;
}

.block {
	position: absolute;
	border: 1px solid #000000;
	overflow: hidden;
	background-color: #ffffff;
	z-index: 5;
}

.masterVideo {
	overflow: visible;
}

.popcorn-container a {
	cursor: default;
}

.popcorn-container img {
	max-width: 100%;
}

/* CHAPTERS */

.chapters .active {
	color: #FF0000;
}

/* TOOLS - maximize, ... */

.tools {
	position: absolute;
	bottom: 0;
	margin-left: 2px;
}

.restore-icon {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: none;
}

.masterVideo .tools {
	bottom: -25px;
}

/* CAROUSEL */

.jcarousel-skin-default {
	position: absolute;
	z-index: 10;
	right: 0;
	background-color: #ffffff;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.jcarousel-skin-default .jcarousel-vertical {
	position: relative;
	/*overflow: hidden;*/
	/*width: 50%;*/
	width: 100px;
	height: 100%;
}

.jcarousel-skin-default .jcarousel-vertical ul {
	/*height: 20000px;*/
	width: 100px;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel-skin-default .jcarousel-vertical li {
	height: 75px;
	margin: 0 0 10px 0;
	padding: 0;
	cursor: pointer;
	cursor: hand;
	/*opacity: 0.5;*/
}

/*.jcarousel-skin-default li:hover, */
.jcarousel-skin-default li.active {
	border: 2px solid #ffff00;
	/*opacity: 1;*/
}

.jcarousel-skin-default li img {
	border: 0;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}